.NavBar {
    width: 100%;
    border-color: #f0eaff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.NavBar ul {
    display: flex;
    /* flex-direction: column; */
    border: #f0eaff solid 2px;
    justify-content: space-between;
    padding: 4rem;
}

.NavBar a {
    cursor: pointer;
}